body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(222, 224, 85, 0.5), rgba(201, 189, 87, 0.5)), url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    background: rgb(255, 255, 63, 0.6);
    border-radius: 0 0 30px 30px;
    transition: 0.3s;
}

nav:hover {
    background: rgb(255, 255, 63, 0.8)
}

#mainName {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    transition: 0.5s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px 10px 35px;
}

footer {
    min-height: 30vh;
    position: relative;
    background: #ffff81;
}

#product {
    background: black;
    color: white;
}

#home:hover,
#contact:hover {
    background: rgb(117, 117, 117);
    color: white;
}

footer {
    background: rgb(255, 255, 0, 0.7);
    margin: 0;
    text-align: center;
}

footer p {
    padding-top: 10px;
    margin: 0;
}

footer h3 {
    padding-top: 20px;
    margin: 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer li {
    margin: 0 10px;
}

footer a {
    color: black;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #1d1d1d;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #000;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 15px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    color: black;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: black;
}

.cart-quantity {
    width: 35%;
    color: black;
}

.cart-item-title {
    color: black;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    margin-right: 20px;
}

.cart-total-price {
    color: #fff;
    font-size: 2.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.cart-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    margin-top: 0;
    padding-top: 5%;
    text-align: center;
    font-size: 2.2em;
    color: black;
    text-decoration: underline;
}